/* CSS for CodeSnippetXBlock */

.code_snippet_block {
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.code_snippet_block * {
    box-sizing: border-box;
}

.code_snippet_block pre {
    margin: 0;
    white-space: pre;
    position: relative;
}

.code_snippet_block code {
    font-size: 14px;
    line-height: 1.4;
}

.code_snippet_block .code-select {
    position: absolute;
    top: 0; left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    resize: none;
    height: auto;
    background-color: transparent;
    color: transparent;
    caret-color: #ffffff;
    border: none;
    font: normal 14px Monospace;
    line-height: 1.4;
    box-shadow: none;
    overflow: hidden;
}
